<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 564 Final Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
</head>
<body class="bg-dark text-light">

    <div class="container-fluid dashboard-container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-3">5000 Years of Eclipse Visualisation</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Left Column -->
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="border graph-container1">
                            <div id="geoMap">GeoMap will be placed here</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-row align-items-center justify-content-start">
                            <div class="col-auto">
                                <select class="custom-select" id="xAxisSelect">
                                    <option selected>Choose X-axis...</option>
                                    <!-- Options will be populated here by D3.js -->
                                </select>
                            </div>
                            <div class="col-auto">
                                <select class="custom-select" id="yAxisSelect">
                                    <option selected>Choose Y-axis...</option>
                                    <!-- Options will be populated here by D3.js -->
                                </select>
                            </div>
                            <div class="col-auto">
                                <input type="number" class="form-control" id="binCount" value="25" step="5">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="border graph-container1 hexbin_plot">
                            <div id="hexbinPlot"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Right Column -->
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="border graph-container1">
                            <div id="dashboardControls">Dashboard Controls will be placed here</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="border graph-container1">
                            <div id="pieChart">Pie Chart will be placed here</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="border graph-container1">
                            <div id="radialBarPlot">Radial Bar Plot will be placed here</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="border graph-container1">
                            <div id="timeSeries">Time Series will be placed here</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="border graph-container1">
                            <div id="pcp"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/hexbinPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pcp.js') }}"></script>

</body>
</html>
