<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 564 Final Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

    <div class="container-fluid dashboard-container">
        <div class="row">
            <div class="col heading-col dashboardElement">
                <h1 class="text-center align-self-center">5000 Years of Eclipse Visualisation</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-7 dashboardElement">
                <div class="border graph-container1 hexbin_plot">
                    <div id="hexbinPlot"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 dashboardElement">
                <div class="border graph-container1 chloropleth_plot">
                    <div id="chloroplethPlot"></div> 

                </div>
            </div>
        </div> 
        

    </div>

    <script src="{{ url_for('static', filename='js/hexbinPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chloropleth.js') }}"></script>


</body>
</html>