<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 564 Final Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
</head>
<body class="text-light">

    <div class="container-fluid dashboard-container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-3">5000 Years of Eclipses Visualisation</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div id="chloroplethPlot"></div>
            </div>
            <div class="col-3">
                <div id="donutChart"></div>
            </div>
            <div class="col-3">
                <div id="radialChart">Radial Bar Chart will be placed here</div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-row">
                    <div class="col-md-4">
                        <select class="custom-select" id="xAxisSelect">
                            <option selected>Decade</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="custom-select" id="yAxisSelect">
                            <option selected>Localized ESC</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="binCount" value="25" step="5">
                    </div>
                </div>
                <div class="row">
                    <div id="hexbinPlot"></div>
                </div>
                
            </div>
            <div class="col-8">
                <div id="pcp"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div id="TimeseriesPlot"></div>
            </div>
            <div class="col-6">
                <div id="donutChart"></div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/hexbinPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chloropleth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pcp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/donut.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timeseries.js') }}"></script>


</body>
</html>
