body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #121212; /* Dark background for the whole page */
    color: #fff; /* Light text color for the whole page */
}

.dashboard-container {
    padding: 20px;
}

.heading-col {
    margin-bottom: 20px;
}

.dashboardElement {
    margin-top: 10px;
    padding: 15px;
    background-color: #333; /* Slightly lighter dark shade for elements */
    border-radius: 5px;
}

.graph-container1 {
    padding: 20px;
    background-color: #222; /* Even darker shade for graph containers */
    border: 1px solid #444; /* Subtle border for the container */
}

.custom-select {
    background-color: #555; /* Dark background for dropdowns */
    color: white; /* Ensuring text is light */
    border: 1px solid #777;
}

    .custom-select:focus {
        border-color: #aaa;
        box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.25);
    }

.form-control {
    background-color: #555; /* Dark background for input fields */
    color: white; /* Light text for input fields */
    border: 1px solid #777;
}

    .form-control:focus {
        border-color: #aaa;
        box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.25);
    }

/* Enhances visibility of ticks and lines in graphs */
.axis line,
.axis path {
    fill: none;
    stroke: #ccc; /* Light grey stroke for visibility against dark backgrounds */
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Roboto Mono', monospace;
    color: #ddd; /* Light grey color for text in axes */
}
